@font-face {
    font-family: fuenteParrafo;
    src: url("../assets/fonts/paragraph/ComicNeue-Regular.ttf");
}

/*======================Inicio ContenedorPrincipal=========================*/
.classContenedorPrincipalBienvenidos{
    width: 100%;
}

/*======================Fin ContenedorPrincipal=========================*/

/*======================Inicio Header=========================*/
.classHeaderBienvenidos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    
}

.classHeaderImg{

    height: 100%;
    margin: 0;
    width: auto;
    object-fit: scale-down; 
}

/*======================Fin Header=========================*/

/*======================Inicio Main=========================*/

.classMainBienvenidos{
    width: 100%;
}

.classMainContenedor{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid black;
}

.classMainDivImg1{
    display: flex;
    width: 26%;
    height: 100%;
    position: relative; 
    align-items: end;
}

.classMainImg1{
    position: absolute;
    width: 120%;
    top: -60px;
    object-fit: scale-down; 
    border: 1px solid red;
}

.classMainContenedorP{
    width: 45%;
    border: 1px solid blue;
}

.classMainPPrincipal{
    position: relative;
    width: 110%;
    color: gray;
    text-align: justify;
    font-family: fuenteParrafo;

}

.classMainDivImg2{
    display: flex;
    width: 26%;
    height: 100%;
    align-items: start;
    position: relative;
}

.classMainImg2{
    width: 100%;
    object-fit: scale-down; 
    margin: 0;
    position: absolute;
    top: -110px;
    border: 1px solid red;
}

.classMainPDirectoNombre{
    text-align: end;
    font-size: 26px;
    margin: 0;
    font-style: italic;
    font-family: fuenteParrafo;
    position: relative;
    width: 110%;
}

.classMainPCargoDirector{
    text-align: end;
    color: gray;
    font-size: 10px;
    font-family: fuenteParrafo;
    position: relative;
    width: 110%;
}
/*======================Inicio Fin=========================*/

/*======================Carrusel Inicio=========================*/

.classColorTop{
    background-color: bisque;
    display: inline-block;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.classColorTop2{
    background-color: cadetblue;
    display: inline-block;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.classUserCarrusel{
    position: relative;
    top: 45px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 200, 250);
    margin-bottom: 10%;
    border-bottom-left-radius: 12%;
    border-bottom-right-radius: 12%;
    width: 450px;

}

.classDatosUserCarrusel{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.classNombreUserCarrusel{
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.classDatosFechaUserCarrusel{
    border-left: 4px solid white;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.classCargoCarrusel{
    color: white;
    font-weight: bold;
    margin-left: 4%;
    font-size: 20px;
}

.classFechaComentarioCarrusel{
    width: 100%;
    color: rgb(241, 241, 241);
    margin: 0;
    margin-left: 4%;
    font-size: 20px;
    text-align: left;
}

.classComentarioUserCarrusel{
    margin-top: 4%;
    margin-bottom: 2%;
    width: 95%;
    height: 200px;
    background-color: white;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.classComentarioCarrusel{
    width: 94%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 2%;
    justify-content: space-evenly;
}

.classColumnas{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/*======================Carrusel Fin=========================*/
