@font-face {
    font-family: fuenteParrafo;
    src: url("../assets/fonts/paragraph/Comic_Neue/ComicNeue-Regular.ttf");
}

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../assets/fonts/slides/slick.eot');
    src: url('../assets/fonts/slides/slick.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/slides/slick.woff') format('woff'), url('../assets/fonts/slides/slick.ttf') format('truetype'), url('../assets/fonts/slides/slick.svg#slick') format('svg');
}


body{
    height: 100%;
}

/*======================Inicio ContenedorPrincipal=========================*/
.classContenedorPrincipalBienvenidos{
    width: 100%;
}

/*======================Fin ContenedorPrincipal=========================*/

/*======================Inicio Header=========================*/
.classHeaderBienvenidos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    margin-bottom: 4%;
}

.classHeaderImg{
    margin-top: 5%;
    width: 80%;
    object-fit: scale-down; 
    
}

/*======================Fin Header=========================*/

/*======================Inicio Main=========================*/

.classMainBienvenidos{
    width: 100%;
    margin-bottom: 6%;
    height: 30em;
}

.classMainContenedor{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid black;
    height: 100%;
}

.classMainDivImg1{
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 21%;
    height: 100%;
}

.classMainImg1{
    position: absolute;
    width: 120%;
    object-fit: scale-down;
    border: 1px solid red;
}

.classMainContenedorP{
    width: 45%;
    border: 1px solid blue;
}

.classMainPPrincipal{
    position: relative;
    width: 110%;
    color: #4a4a4a;
    text-align: justify;
    font-family: fuenteParrafo;

}

.classMainDivImg2{
    position: relative;
    display: flex;
    width: 20%;
    height: 100%;

}

.classMainImg2{
    position: absolute !important;
    object-fit: scale-down; 
    width: 80%;
    margin: 0;
    top: 0;
    border: 1px solid red;
}

.classMainPDirectoNombre{
    text-align: end;
    font-size: 26px;
    margin: 0;
    font-style: italic;
    font-family: fuenteParrafo;
    position: relative;
    width: 110%;
}

.classMainPCargoDirector{
    text-align: end;
    color: gray;
    font-size: 10px;
    font-family: fuenteParrafo;
    position: relative;
    width: 110%;
}





/*======================Inicio Fin=========================*/

/*======================Carrusel Inicio=========================*/

.classColumnas{
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    width: 100%;
}

.slick-list{
    margin-bottom: 5% !important;
    width: 100%;
    height: 50% !important;
}

.slick-track{
    width: 90%;
}

.ItemCarrusel{
    display: flex !important;
    align-items: center !important;
    height: 290px !important;
    justify-content: space-evenly !important;
    width: 100%;
}

.classItemCarrusel{
    display: flex !important;
    align-items: center !important;
    height: 100% !important;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    width: 90%;
    margin-bottom: 10%;
    position: relative;
}

.classColorTop{
    
    background-color: bisque;
}

.classColorTop2{

    background-color: cadetblue;
}

.classColorTop3{
    background-color: rgb(116, 212, 52);
}

.classUserCarrusel{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    background-color: #084db2;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    margin-top: 8%;
    top: 2%;
    height: 90% !important;
}

.classDatosUserCarrusel{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 30%;
}

.classNombreUserCarrusel{
    width: 40%;
    margin-top: 6%;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.classDatosFechaUserCarrusel{
    border-left: 4px solid white;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 60%;
    height: 100%;
}

.classCargoCarrusel{
    color: white;
    font-weight: bold;
    margin-left: 4%;
    font-size: 15px;
    text-align: center;
}

.classFechaComentarioCarrusel{
    width: 100%;
    color: rgb(241, 241, 241);
    margin: 0;
    margin-left: 4%;
    font-size: 15px;
    text-align: center;
}

.classComentarioUserCarrusel{
    margin-top: 4%;
    margin-bottom: 2%;
    width: 95%;
    height: auto;
    background-color: white;
    border-radius: 35px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.classComentarioCarrusel{
    width: 92%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 2%;
    justify-content: space-evenly;
    font-size: 11px;
    margin-top: 3%;
}

/* Oculta los textps predeterminados de Slick Carousel */
.slick-arrow {
    color: transparent;
    font-size: 0;
    border: 0;
    background-color: transparent;
}

/* Estilo para los botones de prev y next */
.slick-prev:before,
.slick-next:before {
    font-size: 30px; /* Tamaño del icono */
    color: rgb(0, 200, 250);  /* Color del icono */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'slick';
    position: relative;
}

.slick-next:before {
    
    content: "→"; 
}

.slick-prev:before {
    content: "←";
}

/* Estilo para los botones de prev y next cuando se pasa el mouse */
.slick-prev:hover:before,
.slick-next:hover:before {
    background-color: lightcoral;
    /* Cambia el color de fondo a uno más claro cuando se pasa el mouse */
    color: white;
    /* Cambia el color del icono cuando se pasa el mouse */
}

.col{
    position: static !important;
    max-width: 60% !important;
    margin-left: 5%;
}

.classFoterBienvenido{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.classH2TituloComentarios{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;

}

.classImgTituloComentario{
    object-fit: scale-down;
    width: 35%;
}
/*======================Carrusel Fin=========================*/









/*======================Carrusel 2 Inicio=========================*/

.classContarinerCarrusel2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.classCarrusel2{
    width: 60% !important;
    display: flex !important;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5% !important;
}




.instagram-media{
    height: 450px;
    width: 100px;
}

/*======================Carrusel 2 Fin=========================*/






@media screen and (min-width:550px) and (max-width: 772px){

    .classH2TituloComentarios{
        margin-top: 80%;
    }


    .classMainBienvenidos{
        height: 30em;
        margin-top: 20%;
    }

    .classNombreUserCarrusel{
        font-size: 15px;
    }

    .classCargoCarrusel{
        font-size: 15px;
    }

    .classFechaComentarioCarrusel{
        font-size: 15px;
    }

    .classComentarioCarrusel{
        font-size: 14px;
    }

    .slick-list{
        height: 50% !important;
        margin: 0 !important;
    }
    
    .classContenedorPrincipalBienvenidos{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    

    .classMainContenedor{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }    

    .classMainDivImg1{
        order: 2;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        top: -2vh;
    }

    .classMainImg1{
        object-fit: scale-down;
        width: 40%;
        position: static;
    }

    .classMainContenedorP{
        width: 100%;
        position: relative;
        top: 2vh;
    }

    .classContenedorPrincipalBienvenidos

    .classMainPPrincipal{
        order: 1;
        width: 100%;
    }

    .classMainPDirectoNombre{
        width: 100%;
    }

    .classMainPCargoDirector{
        width: 100%;
    }

    .classMainDivImg2{
        order: -1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        top: -1vh;
        height: 40%;
    }

    .classMainImg2{
        object-fit: scale-down;
        width: 50%;    
    }

    .classHeaderImg{
        width: 100% !important;
    }
    
    .col{
        position: static !important;
        max-width: 100% !important;
        margin-left: 0 !important;
    }

    .classImgTituloComentario{
        width: 60%;
    }

    .classColumnas {
        margin-bottom: 10%;
    }

    .slick-track{
        width: 100%;
    }

    .classCarrusel2 {
        width: 90% !important;
    }

    .classItemCarrusel2{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

   
    
}

@media screen and (min-width: 380px) and (max-width: 550px){

    .classH2TituloComentarios{
        margin-top: 80%;
    }

    .classMainBienvenidos{
        height: 20em;
        margin-bottom: 0%;
    }

    .classNombreUserCarrusel{
        font-size: 15px;
    }

    .classCargoCarrusel{
        font-size: 15px;
    }

    .classFechaComentarioCarrusel{
        font-size: 15px;
    }

    .classComentarioCarrusel{
        font-size: 14px;
    }

    .slick-list{
        height: 50% !important;
        margin: 0 !important;
    }
    
    .classContenedorPrincipalBienvenidos{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }


    .classMainContenedor{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }    

    .classMainDivImg1{
        order: 2;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        top: -2vh;
    }

    .classMainImg1{
        object-fit: scale-down;
        width: 40%;
        position: static;
    }

    .classMainContenedorP{
        width: 100%;
        position: relative;
        top: 2vh;
    }

    .classContenedorPrincipalBienvenidos

    .classMainPPrincipal{
        order: 1;
        width: 100%;
    }

    .classMainPDirectoNombre{
        width: 100%;
    }

    .classMainPCargoDirector{
        width: 100%;
    }

    .classMainDivImg2{
        order: -1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        top: -1vh;
        height: 50%;
    }

    .classMainImg2{
        object-fit: scale-down;
        width: 80%;    
    }

    .classHeaderImg{
        width: 100% !important;
    }
    
    .col{
        position: static !important;
        max-width: 100% !important;
        margin-left: 0 !important;
    }

    .classImgTituloComentario{
        width: 60%;
    }

    .classColumnas {
        margin-bottom: 10%;
    }

    .slick-track{
        width: 100%;
    }

    .classCarrusel2 {
        width: 90% !important;
    }

    .classItemCarrusel2{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    
}

@media screen and (max-width: 380px) {

    .classH2TituloComentarios{
        margin-top: 140%;
    }

    .classMainBienvenidos{
        height: 20em;;
    }

    .classNombreUserCarrusel{
        font-size: 15px;
    }

    .classCargoCarrusel{
        font-size: 15px;
    }

    .classFechaComentarioCarrusel{
        font-size: 15px;
    }

    .classComentarioCarrusel{
        font-size: 14px;
    }

    .slick-list{
        height: 50% !important;
        margin: 0 !important;
    }
    
    .classContenedorPrincipalBienvenidos{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    

    .classMainContenedor{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }    

    .classMainDivImg1{
        order: 2;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        top: -2vh;
    }

    .classMainImg1{
        object-fit: scale-down;
        width: 45%;
        position: static;
        margin-top: 10%;
    }

    .classMainContenedorP{
        width: 100%;
        position: relative;
        top: 2vh;
    }

    .classContenedorPrincipalBienvenidos

    .classMainPPrincipal{
        order: 1;
        width: 100%;
    }

    .classMainPDirectoNombre{
        width: 100%;
    }

    .classMainPCargoDirector{
        width: 100%;
    }

    .classMainDivImg2{
        order: -1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        top: -1vh;
        height: 50%;
    }

    .classMainImg2{
        object-fit: scale-down;
        width: 80%;    
    }

    .classHeaderImg{
        width: 100% !important;
    }
    
    .col{
        position: static !important;
        max-width: 100% !important;
        margin-left: 0 !important;
    }

    .classImgTituloComentario{
        width: 60%;
    }

    .classColumnas {
        margin-bottom: 10%;
    }

    .slick-track{
        width: 100%;
    }

    .classCarrusel2 {
        width: 90% !important;
    }

    .classItemCarrusel2{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .classComentarioCarrusel{
        font-size: 8px;
    }
}