@font-face {
    font-family: fuenteParrafo;
    src: url("../assets/fonts/paragraph/Comic_Neue/ComicNeue-Regular.ttf");
}

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../assets/fonts/slides/slick.eot');
    src: url('../assets/fonts/slides/slick.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/slides/slick.woff') format('woff'), url('../assets/fonts/slides/slick.ttf') format('truetype'), url('../assets/fonts/slides/slick.svg#slick') format('svg');
}


body{
    height: 100%;
}

/*======================Inicio ContenedorPrincipal=========================*/
.classContenedorPrincipalBienvenidos{
    width: 100%;
}

/*======================Fin ContenedorPrincipal=========================*/

/*======================Inicio Header=========================*/
.classHeaderBienvenidos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    
}

.classHeaderImg{

    height: 100%;
    margin: 0;
    width: auto;
    object-fit: scale-down; 
}

/*======================Fin Header=========================*/

/*======================Inicio Main=========================*/

.classMainBienvenidos{
    width: 100%;
}

.classMainContenedor{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid black;
}

.classMainDivImg1{
    display: flex;
    width: 21%;
    height: 100%;
    align-items: start;
}

.classMainImg1{
    position: fixed;
    width: 22%;
    top: 46%;
    object-fit: scale-down; 
    border: 1px solid red;
}

.classMainContenedorP{
    width: 45%;
    border: 1px solid blue;
}

.classMainPPrincipal{
    position: relative;
    width: 110%;
    color: gray;
    text-align: justify;
    font-family: fuenteParrafo;

}

.classMainDivImg2{
    display: flex;
    width: 20%;
    height: 100%;
    align-items: end;
}

.classMainImg2{
    position: fixed;
    object-fit: scale-down; 
    width: 17%;
    margin: 0;
    top: 20%;
    border: 1px solid red;
}

.classMainPDirectoNombre{
    text-align: end;
    font-size: 26px;
    margin: 0;
    font-style: italic;
    font-family: fuenteParrafo;
    position: relative;
    width: 110%;
}

.classMainPCargoDirector{
    text-align: end;
    color: gray;
    font-size: 10px;
    font-family: fuenteParrafo;
    position: relative;
    width: 110%;
}
/*======================Inicio Fin=========================*/

/*======================Carrusel Inicio=========================*/

.classColumnas{
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    width: 100%;
}

.slick-list{
    margin-bottom: 5% !important;
    width: 100%;
    height: 300px !important;
}

.slick-track{
    width: 90%;
}

.ItemCarrusel{
    display: flex !important;
    align-items: center !important;
    height: 255px !important;
    justify-content: space-evenly !important;
    width: 100%;
}

.classItemCarrusel{
    display: flex !important;
    align-items: center !important;
    height: 250px ;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    width: 90%;
    margin-bottom: 10%;
    position: relative;
}

.classColorTop{
    
    background-color: bisque;
}

.classColorTop2{

    background-color: cadetblue;
}

.classColorTop3{
    background-color: rgb(116, 212, 52);
}

.classUserCarrusel{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    background-color: rgb(0, 200, 250);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    margin-top: 8%;
    top: 2%;
    
}

.classDatosUserCarrusel{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.classNombreUserCarrusel{
    margin-top: 6%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.classDatosFechaUserCarrusel{
    border-left: 4px solid white;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.classCargoCarrusel{
    color: white;
    font-weight: bold;
    margin-left: 4%;
    font-size: 20px;
    
}

.classFechaComentarioCarrusel{
    width: 100%;
    color: rgb(241, 241, 241);
    margin: 0;
    margin-left: 4%;
    font-size: 20px;
    text-align: left;
}

.classComentarioUserCarrusel{
    margin-top: 4%;
    margin-bottom: 2%;
    width: 95%;
    height: auto;
    background-color: white;
    border-radius: 35px;
    height: 100%;
}

.classComentarioCarrusel{
    width: 90%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 2%;
    justify-content: space-evenly;
    font-size: 14px;
}

/* Oculta los textps predeterminados de Slick Carousel */
.slick-arrow {
    color: transparent;
    font-size: 0;
    border: 0;
    background-color: transparent;
}

/* Estilo para los botones de prev y next */
.slick-prev:before,
.slick-next:before {
    font-size: 30px; /* Tamaño del icono */
    color: rgb(0, 200, 250);  /* Color del icono */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'slick';
    position: relative;
}

.slick-next:before {
    
    content: "→"; 
}

.slick-prev:before {
    content: "←";
}

/* Estilo para los botones de prev y next cuando se pasa el mouse */
.slick-prev:hover:before,
.slick-next:hover:before {
    background-color: lightcoral;
    /* Cambia el color de fondo a uno más claro cuando se pasa el mouse */
    color: white;
    /* Cambia el color del icono cuando se pasa el mouse */
}

.col{
    position: static !important;
    max-width: 60% !important;
    margin-left: 5%;
}

.classFoterBienvenido{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*======================Carrusel Fin=========================*/
@media screen and (min-width:1031px) and (max-width: 1075px){
    .classMainImg1{
        width: 25% !important;
        top: 50%;
    }

    .slick-list{
        height: 300px !important;
    }

}

@media screen and (min-width:772px) and (max-width: 1031px){

    .classNombreUserCarrusel{
        font-size: 15px;
    }

    .classCargoCarrusel{
        font-size: 15px;
    }

    .classFechaComentarioCarrusel{
        font-size: 15px;
    }

    .classComentarioCarrusel{
        font-size: 14px;
    }

    .slick-list{
        height: 18vh !important;
        margin: 0 !important;
    }
    
    .classContenedorPrincipalBienvenidos{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .classMainContenedor{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }    

    .classMainDivImg1{
        order: 2;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        top: -2vh;
    }

    .classMainImg1{
        object-fit: scale-down;
        width: 40%;
        position: static;
    }

    .classMainContenedorP{
        width: 100%;
        position: relative;
        top: -2vh;
    }

    .classMainPPrincipal{
        order: 1;
        width: 100%;
    }

    .classMainPDirectoNombre{
        width: 100%;
    }

    .classMainPCargoDirector{
        width: 100%;
    }

    .classMainDivImg2{
        order: -1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        top: -1vh;
    }

    .classMainImg2{
        object-fit: scale-down;
        width: 50%;
        position: static;
    }

    
    .col{
        position: static !important;
        max-width: 100% !important;
        margin-left: 0 !important;
    }

    .slick-prev{
        position: absolute;
        bottom: 3%;
        left: 40%;
    }

    .slick-next{
        position: absolute;
        bottom: 3%;
        right: 40%;
    }
}


@media screen and (max-width: 772px){



    .classContenedorPrincipalBienvenidos{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .classMainContenedor{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }    

    .classMainDivImg1{
        order: 2;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        top: -2vh;
    }

    .classMainImg1{
        object-fit: scale-down;
        width: 50%;
        position: static;
    }

    .classMainContenedorP{
        width: 100%;
        position: relative;
        top: -5vh;
    }

    .classMainPPrincipal{
        order: 1;
        width: 100%;
    }

    .classMainPDirectoNombre{
        width: 100%;
    }

    .classMainPCargoDirector{
        width: 100%;
    }

    .classMainDivImg2{
        order: -1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        top: -5vh;
    }

    .classMainImg2{
        object-fit: scale-down;
        width: 40%;
        position: static;
        margin-top: 10%;
    }

    .classUserCarrusel{
        margin-top: 2vh;
    }

    .ItemCarrusel {
        height: 316px !important;
    }

    .classNombreUserCarrusel{
        font-size: 15px;
    }

    .classCargoCarrusel{
        font-size: 15px;
    }

    .classFechaComentarioCarrusel{
        font-size: 15px;
    }

    .classComentarioCarrusel{
        font-size: 14px;
    }

    .col{
        position: static !important;
        max-width: 100% !important;
    }

    .slick-prev{
        position: absolute;
        bottom: 7%;
        left: 30%;
    }

    .slick-next{
        position: absolute;
        bottom: 7%;
        right: 30%;
    }
}