.classLiraBongoCotenedorPrincipal{
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: white;
}

/*Inicio Header*/
    .classHeaderLiraBongo{
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-bottom: 40px;
    }
    .classHeaderA{
        justify-content: center;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
        
    }
    .classH1Header{
        align-items: center;
        justify-content: space-evenly;
        color: #003f60;
    }
/*Fin Header*/

/*Main Inicio*/
    .classContenedorPrincipal{
        width: 100%;
        height: auto;
    }

    .classPrimeraDescripcion{
        text-align: center;
        font-size: 15px;
    }

    .classSegundaDescripcion{
        text-align: center;
        font-weight: bold;
        color: #002f70;
        font-size: 15px;
    }

    .classVideoA{
        text-decoration: none;
    }

    .classImagenVideo{
        position: absolute;
        float: left;
        margin-top: 5%;
        right: 15%;
        width: 15%;
    }

    .classAventurasP{
        position: absolute;
        font-size: 15px;
        text-align: center;
        right: 4%;
        margin-top: 10%;
        width: auto;
    }

    .classImagenFinalEscalar .classLiraBongo{
        position: relative;
        width: 30%;
        height: 400px;
        left: 9%;
        top: -440px;
        object-fit: scale-down;
    }

    .classFinalPagina{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        position: relative;
        top: -400px;
        flex-wrap: wrap;
    }

    .classImagenFinalLiraBongo{
        height: 200px;
        width: 40%;
        object-fit: scale-down; 
    }

    .classPFinalLiraBongo{
        font-size: 16px;
        font-weight:normal;
    }


/*Main Final*/