@font-face {
    font-family: fuenteParrafo;
    src: url("../assets/fonts/paragraph/Comic_Neue/ComicNeue-Regular.ttf");
}

@font-face {
    font-family: fuenteTitulo;
    src: url("../assets/fonts/title/Fira_Sans/FiraSans-Light.ttf");
}

.classMapaColombia{
    overflow-x: hidden;
    overflow-y:hidden;
}

.classLiraBongoCotenedorPrincipal{
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: white;
}

/*Inicio Header*/
    .classHeaderLiraBongo{
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-bottom: 40px;
    }
    .classHeaderA{
        justify-content: center;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
        
    }
    .classH1Header{
        align-items: center;
        justify-content: space-evenly;
        color: #003f60;
    }
/*Fin Header*/

/*Main Inicio*/
    .classContenedorPrincipal{
        width: 100%;
        height: auto;

    }

    .classPrimeraDescripcion{
        text-align: center;
        font-size: 15px;
    }

    .classSegundaDescripcion{
        text-align: center;
        font-weight: bold;
        color: #002f70;
        font-size: 15px;
    }

    .classVideoA{
        text-decoration: none;
    }

    .classImagenVideo{
        position: absolute;
        float: left;
        margin-top: 5%;
        right: 15%;
        width: 15%;
    }

    .classAventurasP{
        position: absolute;
        font-size: 15px;
        text-align: center;
        right: 4%;
        margin-top: 10%;
        width: auto;
    }

    .classImagenFinalEscalar .classLiraBongo{
        position: relative;
        width: 30%;
        height: 400px;
        left: 9%;
        top: -440px;
        object-fit: scale-down;
    }

    .classLiraBongo{
        animation: anime 3s infinite ease-in-out alternate;
        -webkit-animation: anime 3s infinite ease-in-out alternate;
        animation-delay: .8s;
}

    @keyframes anime{
        100%{
            transform: translateY(20px);
            -webkit-transform: translateY(20px);
            -moz-transform: translateY(20px);
            -ms-transform: translateY(20px);
            -o-transform: translateY(20px);
        }
    }

    .classFinalPagina{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        position: relative;
        top: -400px;
    }

    .classImagenFinalLiraBongo{
        height: 200px;
        width: 40%;
        object-fit: scale-down; 
    }

    .classPFinalLiraBongo{
        font-size: 16px;
        font-weight:normal;
    }


/*Main Final*/


/*================Estilos Popup Inicio==============*/

.classContenedorPrincipalPopup{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.8s ease;
}

.classContenedorBlanco{
    background-color: white;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    padding-bottom: 2%;
}

.classEncabezadoPopup{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.classImgEscudoPopup{
    object-fit: scale-down;
    height: 100px;
    width: 80%;
}

.classTituloPoppup{
    text-align: center;
    width: 50%;
    font-family: fuenteTitulo;
}

.classImgBordonPopup{
    object-fit: scale-down;
    height: 100px;
    width: 80%;
}

.classDepartamentoPoppup{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.classBtnsAzulPoppup{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 18%;
    
}

.classBtnvisitadoAzulPoppup{
    background: linear-gradient(90deg, rgba(0,219,250,1) 0%, rgba(0,90,230,1) 100%);
    border-radius: 30px;
    width: 100%;
    height: 50px;
    margin-bottom: 5%;
    cursor: pointer;
    border: none;
    font-family: fuenteParrafo;
    font-size: medium;
    font-weight: bold;
    color: aliceblue;
}

.classBtnsNaranjaPoppup{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 18%;
}

.classBtnvisitadoNaranjaPoppup{
    background: linear-gradient(90deg, rgba(255,154,0,1) 0%, rgba(250,100,0,1) 55%, rgba(252,42,79,1) 100%);
    border-radius: 30px;
    width: 100%;
    height: 50px;
    margin-bottom: 5%;
    cursor: pointer;
    border: none;
    font-family: fuenteParrafo;
    font-size: medium;
    font-weight: bold;
    color: aliceblue;
}

.classImgDepartamentPoppup{
    object-fit: scale-down;
    width: 40%;
}

.classTextoFinalPoppup{
    text-align: center;
}

.classBtnAtrasPoppup{
    background-color: #2767C9;
    border-radius: 5px;
    width: 10%;
    height: 40px;
    cursor: pointer;
    border: none;
    font-family: fuenteParrafo;
    color: white;
    font-size: medium;
}

.show{
    pointer-events: auto;
    opacity: 1;
    z-index: 2 !important;
}

.classAAzulBtn{
    width: 100%;
}

.classANaranjaBtn{
    width: 100%;
}

/*================Estilos Popup Final==============*/

/* Estilos generales que se aplican a todos los dispositivos */

/* Estilos para tablets (entre 768px y 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .classLiraBongo{
        height: 200px !important;
        top: -220px !important;
    }

    .classImagenVideo{
        right: 22% !important;
    }

    .classFinalPagina{
        top: -200px !important;
    }
}


/* Estilos para dispositivos móviles (menos de 768px) */
@media screen and (max-width: 767px) {
    .classLiraBongo{
        height: 200px !important;
        top: -120px !important;
    }

    .classImagenVideo{
        right: 22% !important;
    }

    .classFinalPagina{
        flex-wrap: wrap !important;
        top: -200px !important;
    }

    .classAventurasP{
        margin-top: 20% !important;
        font-size: 15px !important;
    }
}