@font-face {
    font-family: fuenteParrafo;
    src: url("../assets/fonts/paragraph/Comic_Neue/ComicNeue-Regular.ttf");
}

@font-face {
    font-family: fuenteTitulo;
    src: url("../assets/fonts/title/Fira_Sans/FiraSans-Light.ttf");
}



.classMapaColombia{
    overflow-x: hidden;
    overflow-y:hidden;
}




/*Main Inicio*/

.classLiraBongoCotenedorPrincipal{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    position: relative;
}


.classDivContenido1{
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5%;
}

.classHeaderA{
    text-decoration: none;
}

.classH1Header{
    width: 100%;
    text-align: center;
    font-family: fuenteTitulo;
    color: #2767C9;
}

.classPrimeraDescripcion{
    font-family: fuenteParrafo;
    text-align: justify;
    width: 100%;
    color: #4a4a4a;
    text-align: justify;
    font-size: 19px;
}

.classSegundaDescripcion{
    font-family: fuenteParrafo;
    text-align: justify;
    width: 100%;
    color: #4a4a4a;
    text-align: justify;
    font-size: 19px;
}

.classAventurasImg{
    object-fit: scale-down;
    width: 100%;
}

.classPTerceraDescripcion{
    font-family: fuenteParrafo;
    width: 100%;
    color: #4a4a4a;
    text-align: justify;
    font-size: 19px;
}

.classLinkMorales{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.classBtnMorales{
    object-fit: scale-down;
    width: 80%;
}

.classLinkPatrimoniales{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.classBtnPatrimoniales{
    object-fit: scale-down;
    width: 80%;
}

.classPFinalLiraBongo{
    font-family: fuenteParrafo;
    text-align: justify;
    width: 100%;
    color: #4a4a4a;
    text-align: justify;
    font-size: 19px;
}




.classMain{
    width: 50%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}

.classContenedorPrincipal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

/*Main Final*/


/*================Estilos Popup Inicio==============*/

.classContenedorPrincipalPopup{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.8s ease;
}

.classContenedorBlanco{
    background-color: white;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    padding-bottom: 2%;
}

.classEncabezadoPopup{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.classImgEscudoPopup{
    object-fit: scale-down;
    height: 100px;
    width: 80%;
}

.classTituloPoppup{
    text-align: center;
    width: 50%;
    font-family: fuenteTitulo;
}

.classImgBordonPopup{
    object-fit: scale-down;
    height: 100px;
    width: 80%;
}

.classDepartamentoPoppup{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.classBtnsAzulPoppup{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 18%;
    
}

.classBtnvisitadoAzulPoppup{
    background: linear-gradient(90deg, rgba(0,219,250,1) 0%, rgba(0,90,230,1) 100%);
    border-radius: 30px;
    width: 100%;
    height: 50px;
    margin-bottom: 5%;
    cursor: pointer;
    border: none;
    font-family: fuenteParrafo;
    font-size: medium;
    font-weight: bold;
    color: aliceblue;
}

.classBtnsNaranjaPoppup{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 18%;
}

.classBtnvisitadoNaranjaPoppup{
    background: linear-gradient(90deg, rgba(255,154,0,1) 0%, rgba(250,100,0,1) 55%, rgba(252,42,79,1) 100%);
    border-radius: 30px;
    width: 100%;
    height: 50px;
    margin-bottom: 5%;
    cursor: pointer;
    border: none;
    font-family: fuenteParrafo;
    font-size: medium;
    font-weight: bold;
    color: aliceblue;
}

.classImgDepartamentPoppup{
    object-fit: scale-down;
    width: 40%;
}

.classTextoFinalPoppup{
    text-align: center;
}

.classBtnAtrasPoppup{
    background-color: #2767C9;
    border-radius: 5px;
    width: 10%;
    height: 40px;
    cursor: pointer;
    border: none;
    font-family: fuenteParrafo;
    color: white;
    font-size: medium;
}

.show{
    pointer-events: auto;
    opacity: 1;
    z-index: 2 !important;
}

.classAAzulBtn{
    width: 100%;
}

.classANaranjaBtn{
    width: 100%;
}

.classImgColombia{
    object-fit: scale-down;
    position: absolute;
    display: flex;
    margin: auto;
    width: 25%;
    right: 10%;
    margin-bottom: 100%;
}

.classSvgMapa{
    position: absolute;
    height: 100%;
    width: 140%;
    top: 0;
    left: 0;
}

/*================Estilos Popup Final==============*/

/* Estilos generales que se aplican a todos los dispositivos */



/* Estilos para dispositivos móviles (menos de 768px) */
@media screen and (min-width:480px) and (max-width: 709px){
    .classDivContenido1{
        width: 100%;
    }

    .classMain{
        width: 100%;
    }

    .classSvgMapa{
        height: auto;
        top: 10%;
    }

    .classPrimeraDescripcion{
        margin-top: 150%;
    }

    .classImgColombia{
        margin-bottom: 0%;
        top: 12%;
    }
}

@media screen and (min-width:375px) and (max-width: 480px){
    .classDivContenido1{
        width: 100%;
    }

    .classMain{
        width: 100%;
    }

    .classSvgMapa{
        height: auto;
        top: 10%;
    }

    .classPrimeraDescripcion{
        margin-top: 150%;
    }

    .classImgColombia{
        margin-bottom: 0%;
        top: 12%;
    }
}

@media screen and (max-width: 375px){

    .classDivContenido1{
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .classH1Header{
        font-size: 100%;
    }

    .classHeaderA{
        display: flex;
        align-items: center;
        justify-content: center
    }

    .classMain{
        width: 100%;
    }

    .classSvgMapa{
        height: auto;
        top: 10%;
    }

    .classPrimeraDescripcion{
        margin-top: 150%;
    }

    .classImgColombia{
        margin-bottom: 0%;
        top: 12%;
    }
}