body, html {
    margin: 0;
    padding: 0;
}

.classObject{
    width: 100%;
    height: 150vh;
}

@media screen and (min-width:1031px) and (max-width: 1075px){
    .classObject{
        height: 190vh;
    }

}

@media screen and (min-width:767px) and (max-width: 1031px){
    .classObject{
        height: 280vh;
    }

}

@media screen and (max-width: 767px){
    .classObject{
        height: 260vh;
    }

}

