body, html {
    margin: 0;
    padding: 0;
}

.classObject{
    width: 100%;
    height: 1000px;
}

@media screen and (min-width:767px) and (max-width: 1031px){
    .classObject{
        height: 300vh;
    }

}

@media screen and (max-width: 767px){
    .classObject{
        height: 280vh;
    }

}

