.classBodyJuego{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    
}

.classMainJuego{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clasaEnlace{
    display: flex;
    align-items: center;
    justify-content: center;
}

.classImgProximamente{
    object-fit: scale-down;
    height: auto;
    width: 30%;
}

