
.classLibroBody{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.classContainerOpinion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-bottom: 5%;
}

.classContainerDescargarPDF{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-bottom: 5%;
}

.classSvgBtnDescargarPDF{
    z-index: 0;
    width: 40%;
}

.classSvgBtnOpinion{
    z-index: 0;
    width: 40%;
}




#toolbar {
    --pdf-toolbar-text-color: rgb(255 181 13) !important; 
}

@media screen and (min-width:550px) and (max-width: 772px){
    .classSvgBtnOpinion{
        width: 40%;
    }

    .classContainerOpinion{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .classContainerDescargarPDF{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (min-width: 380px) and (max-width: 550px){
    .classSvgBtnOpinion{
        width: 40%;
    }

    .classContainerOpinion{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .classContainerDescargarPDF{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 380px) {
    .classSvgBtnOpinion{
        width: 40%;
    }

    .classContainerOpinion{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .classContainerDescargarPDF{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}