

.classLibroPdf{
    
    display: block;
    width: 50vw;
    height: 100vh;
    margin-bottom: 3vh;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}