@font-face {
    font-family: fuenteParrafo;
    src: url("../assets/fonts/paragraph/Comic_Neue/ComicNeue-Regular.ttf");
}

@font-face {
    font-family: fuenteTitulo;
    src: url("../assets/fonts/title/Fira_Sans/FiraSans-Light.ttf");
}

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../assets/fonts/slides/slick.eot');
    src: url('../assets/fonts/slides/slick.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/slides/slick.woff') format('woff'), url('../assets/fonts/slides/slick.ttf') format('truetype'), url('../assets/fonts/slides/slick.svg#slick') format('svg');
}


/*===================================Inicio Header===================================*/

body{
    overflow-x: hidden;
}

.classH1Header {
    font-family: fuenteTitulo;
    color: rgb(9, 101, 221);
    text-align: center;
    font-size: 60px;
}

/*===================================Fin Header===================================*/


/*===================================Inicio Main===================================*/

.classContenedorMain {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5%;
}

.classInformaionInicioMain {
    font-family: fuenteParrafo;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    font-size: 30px;
    width: 100%;
}

.classContenedorImagenesMain {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.classContenedorVideoMain {
    width: 50%;
    position: relative;
    display: flex;
}

.classVideo {
    width: 100%;
    object-fit: scale-down;
}

.classFrameObra {
    position: absolute;
    width: 85%;
    height: 79%;
    left: 10%;
    top: 10%;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.classInformacionFinalMain {
    font-family: fuenteParrafo;
    font-size: 30px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*===================================Fin Main===================================*/


/*===================================Inicio Footer===================================*/

.classContenedorImagenes {
    margin-top: 5%;
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
}




.classAImagen {
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
}

.classImagenVideo {
    width: 80%;
    height: 100%;
    object-fit: scale-down;
}

/* Oculta los textps predeterminados de Slick Carousel */
.slick-arrow {
    color: transparent;
    font-size: 0;
    border: 0;
    background-color: transparent;
}


.slick-list {
    width: 90%;
}

/* Estilo para los botones de prev y next */
.slick-prev:before,
.slick-next:before {
    font-size: 30px; /* Tamaño del icono */
    color: red;  /* Color del icono */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'slick';
}

.slick-next:before {
    
    content: "→"; 
}

.slick-prev:before {
    content: "←";
}

/* Estilo para los botones de prev y next cuando se pasa el mouse */
.slick-prev:hover:before,
.slick-next:hover:before {
    background-color: lightcoral;
    /* Cambia el color de fondo a uno más claro cuando se pasa el mouse */
    color: white;
    /* Cambia el color del icono cuando se pasa el mouse */
}

/*===================================Fin Footer===================================*/


/*===============Responsive=================*/
/* Estilos generales que se aplican a todos los dispositivos */




/* Estilos para tablets (entre 768px y 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {


    .classContenedorVideoMain{
        width: 100%;
        order: -1;
    }

    .classContenedorImgBongo{
        order: 1;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .classContenedorImgLira{
        order: 2;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .classBongo{
        width: 100%;
    }

    .classLira{
        width: 1000%;
    }

    .classImg{
        object-fit: scale-down;
    }

    .slick-list{
        width: 100%;
    }

    .slick-prev{
        position: absolute;
        bottom: -20%;
        left: 40%   ;
    }

    .slick-next{
        position: absolute;
        bottom: -20%;
        right: 40%;
    }
}


/* Estilos para dispositivos móviles (menos de 768px) */
@media screen and (max-width: 767px) {
    /* Agrega tus estilos específicos para dispositivos móviles aquí */
    .classContenedorVideoMain{
        width: 100%;
        order: -1;
    }

    .classContenedorImgBongo{
        order: 1;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .classContenedorImgLira{
        order: 2;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .classBongo{
        width: 100%;
    }

    .classLira{
        width: 100%;
    }

    .classImg{
        object-fit: scale-down;
    }

    .slick-list{
        width: 100%;
    }

    .slick-prev{
        position: absolute;
        bottom: -30%;
        left: 40%   ;
    }

    .slick-next{
        position: absolute;
        bottom: -30%;
        right: 40%;
    }

    .classInformaionInicioMain{
        text-align: justify;
        font-size: 25px;
    }

    .classInformacionFinalMain{
        text-align: justify;
        font-size: 25px;
    }
}

