@font-face {
    font-family: fuenteParrafo;
    src: url("../assets/fonts/paragraph/Comic_Neue/ComicNeue-Regular.ttf");
}

@font-face {
    font-family: fuenteTitulo;
    src: url("../assets/fonts/title/Fira_Sans/FiraSans-Light.ttf");
}

body{
    scroll-behavior: smooth;
}

.classDivPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.classBodyProyecto{
    overflow-y: hidden !important;
}

/*===================Inicio Section classProcesoCreativo ====================*/

.classProcesoCreativo{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid red;
    flex-wrap: wrap;
}

.classContenedorTextoCreativo{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.classHeaderCreativo{
    width: 100%;
}

.classImgTitleCreativo{
    width: 100%;
    object-fit: scale-down; 
}

.classPCreativos{
    width: 80%;
    color: gray;
    font-family: fuenteParrafo;
    text-align: justify !important;
    display: flex;
    justify-content: space-evenly;
}

.classContenedorVideoCreativo{
    width: 50%;
    position: relative;
    display: flex;
}

.classImgVideo{
    width: 100%;
    object-fit: scale-down; 
}

.classFrameBienvenidos{
    position: absolute;
    width: 85%;
    height: 79%;
    left: 11%;
    top: 10%;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}


/*===================Fin Section classProcesoCreativo ====================*/


/*===================Inicio Section Creadores ====================*/

.classCreadores{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.classDivContenedorCreadores{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.classDivContenedorVideo{
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.classImgVideo2{
    width: 100%;
    object-fit: scale-down; 
}

.classFrameBienvenidos2{
    position: absolute;
    width: 85%;
    height: 79%;
    left: 11%;
    top: 10%;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}


.classDivContenedorCreadores{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.classImgCreadores{
    width: 85%;
    object-fit: scale-down; 
}

.classPCreadores{
    width: 90%;
    color: gray;
    font-family: fuenteParrafo;
    text-align: justify !important;
    display: flex;
    justify-content: space-evenly;
}

.classDivImgCreadores{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.classIMGActores{
    object-fit: scale-down;
    width: 30%;
}

.classIMGActores:hover{
    transform:  scale(1.08);
    -webkit-transform:  scale(1.08);
    -moz-transform:  scale(1.08);
    -ms-transform:  scale(1.08);
    -o-transform:  scale(1.08);
}
/*===================Fin Section Creadores ====================*/


/*===================Inicio Section Derechos Conexos ====================*/

.classDerechosConexos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6%;
}

.classDivContenedorConexos{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.classDivContenedorVideo3{
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.classImgCreadoresConexos{
    object-fit: scale-down;
    width: 100%;
}

.classPCreadoresConexos{
    width: 90%;
    color: gray;
    font-family: fuenteParrafo;
    text-align: justify !important;
    display: flex;
    justify-content: space-evenly;
}


.classImgVideo3{
    width: 100%;
    object-fit: scale-down; 
}

.classFrameBienvenidos3{
    position: absolute;
    width: 85%;
    height: 79%;
    left: 11%;
    top: 10%;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}


/*===================Fin Section Derechos Conexos ====================*/








/*================Inicio Section Personajes Comic=========================*/

.classActoresComic{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    border: 2px solid rebeccapurple;
}

.classCard{
    position: relative;
    width: 21%;
    margin-bottom: 30%;
    cursor: pointer;
}

.classCard .face{
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 1.0s;
    -webkit-transition: 1.0s;
    -moz-transition: 1.0s;
    -ms-transition: 1.0s;
    -o-transition: 1.0s;
}

.classCard .front{
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}

.classCard .back{
    transform:  rotateY(180deg);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    text-align: justify;
}   

.classCard:hover .front{
    transform:  rotateY(180deg);
}

.classCard:hover .back{
    z-index: 1;
    transform:  rotateY(360deg);
}


.classPersonaComic{
    object-fit: scale-down;
    width: 90%;
    
}

.classsPersonajeVoz{
    object-fit: scale-down;
    width: 90%;
}

/*================Fin Section Personajes Comic=========================*/







/*===================Inicio Sobre creadores Sitio web=========================*/


.classSobreCreadores{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.classTituloCreadoresWeb{
    object-fit: scale-down;
    width: 30%;
}

.classInformacionCreadoresWeb{
    width: 80%;
    color: gray;
    font-family: fuenteParrafo;
    text-align: justify !important;
    display: flex;
    justify-content: space-evenly;
}

.classContenedorCreadores{
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0;
    border: 2px solid rgb(214, 86, 26);
}

.classComunicacionEquipo{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 2px solid rgb(30, 172, 89);
}

.classImgEquipoComunicacion{
    object-fit: scale-down;
    width: 100%;
}

.classInformacion{
    width: 100%;
    color: gray;
    font-family: fuenteParrafo;
    text-align: left !important;
    margin-left: 8%;
}


.classTIEquipo{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 2px solid rebeccapurple;
}


.classImgEquipoTI{
    object-fit: scale-down;
    width: 100%;
}

/*===================Fin Sobre creadores Sitio web=========================*/










/*===================Inicio Banda SONORA=========================*/

.classBandaSonora{
    margin-top: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.classTituloBandaSonora{
    width: 80%;
    color: gray;
    font-family: fuenteTitulo;
    text-align: justify !important;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

.classBandaSonoraVideo{
    width: 50%;
}
/*===================Fin Banda SONORA=========================*/











/*===================Inicio Norma=========================*/

.classNorma{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.classImgNorma{
    object-fit: scale-down;
    width: 80%;
}

/*===================Fin Norma=========================*/



.classUp{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 2%;
}

.classUp i{
    cursor: pointer;
    font-size: 30px;
    color: #72c9e5;
}

.classTop{
    position: absolute;
    top: -50%;
}



/* Estilos generales que se aplican a todos los dispositivos */




/* Estilos para dispositivos móviles (menos de 768px) */
@media screen and (min-width:480px) and (max-width: 709px){
    .classContenedorTextoCreativo{
        width: 100%;
    }

    .classContenedorVideoCreativo{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .classFrameBienvenidos{
        position: absolute;
        width: 69%;
        height: 79%;
        left: 18%;
        top: 10%;
    }

    .classImgVideo{
        width: 80%;
    }

    .classDivContenedorCreadores{
        order: -1;
        width: 100%;
    }

    .classDivContenedorVideo{
        order: 1;
        width: 80%;
        margin-top: 5%;
    }

    .classDivImgCreadores{
        margin-top: 3%;
    }

    .classPCreadores{
        width: 80%;
    }

    
    .classDivContenedorConexos{
        width: 100%;
    }

    .classPCreadoresConexos{
        width: 80%;
    }

    .classDivContenedorVideo3{
        width: 80%;
    }

    .classPersonaComic{
        object-fit: scale-down;
        width: 100%;
        
    }
    
    .classsPersonajeVoz{
        object-fit: scale-down;
        width: 100%;
    }

    .classCard{
        width: 50%;
        margin-bottom: 80%;
    }

    .classTituloCreadoresWeb{
        width: 60%;
    }

    .classBandaSonoraVideo{
        width: 80%;
    }
}

@media screen and (min-width:375px) and (max-width: 480px){
    .classContenedorTextoCreativo{
        width: 100%;
    }

    .classContenedorVideoCreativo{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .classFrameBienvenidos{
        position: absolute;
        width: 69%;
        height: 79%;
        left: 18%;
        top: 10%;
    }

    .classImgVideo{
        width: 80%;
    }

    .classDivContenedorCreadores{
        order: -1;
        width: 100%;
    }

    .classDivContenedorVideo{
        order: 1;
        width: 80%;
        margin-top: 5%;
    }

    .classDivImgCreadores{
        margin-top: 3%;
    }

    .classPCreadores{
        width: 80%;
    }

    
    .classDivContenedorConexos{
        width: 100%;
    }

    .classPCreadoresConexos{
        width: 80%;
    }

    .classDivContenedorVideo3{
        width: 80%;
    }

    .classPersonaComic{
        object-fit: scale-down;
        width: 100%;
        
    }
    
    .classsPersonajeVoz{
        object-fit: scale-down;
        width: 100%;
    }

    .classCard{
        width: 50%;
        margin-bottom: 80%;
    }

    .classTituloCreadoresWeb{
        width: 60%;
    }

    .classBandaSonoraVideo{
        width: 80%;
    }
}

@media screen and (max-width: 375px){
    .classContenedorTextoCreativo{
        width: 100%;
    }

    .classContenedorVideoCreativo{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .classFrameBienvenidos{
        position: absolute;
        width: 69%;
        height: 79%;
        left: 18%;
        top: 10%;
    }

    .classImgVideo{
        width: 80%;
    }

    .classDivContenedorCreadores{
        order: -1;
        width: 100%;
    }

    .classDivContenedorVideo{
        order: 1;
        width: 80%;
        margin-top: 5%;
    }

    .classDivImgCreadores{
        margin-top: 3%;
    }

    .classPCreadores{
        width: 80%;
    }

    
    .classDivContenedorConexos{
        width: 100%;
    }

    .classPCreadoresConexos{
        width: 80%;
    }

    .classDivContenedorVideo3{
        width: 80%;
    }

    .classPersonaComic{
        object-fit: scale-down;
        width: 100%;
        
    }
    
    .classsPersonajeVoz{
        object-fit: scale-down;
        width: 100%;
    }

    .classCard{
        width: 50%;
        margin-bottom: 80%;
    }

    .classTituloCreadoresWeb{
        width: 60%;
    }

    .classBandaSonoraVideo{
        width: 80%;
    }
}

