.classBodyLiraBongoCreando, .classHtmlLiraBongo {
    margin: 0;
    padding: 0;
    
}


.classObjectLiraBongo{
    width: 100vw;
    height: 310vh;
    border: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .classObjectLiraBongo{
        height: 240vh !important;
    }
}


/* Estilos para dispositivos móviles (menos de 768px) */
@media screen and (max-width: 767px) {
    .classObjectLiraBongo{
        height: 170vh !important;
    }
}