.classBody{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    width: 100%;
}

.classMainUniverso{
  width: 100%;
  height: 100vh;
  background-color: rgb(228, 194, 103);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}





/*===============================Inicio Section 1======================================*/

.classSection1{
  width: 50%;
}

/*===============================Fin Section 1======================================*/












/*===============================Inicio Section 2======================================*/

.classSection2{
  width: 50%;
}

/*===============================Fin Section 2======================================*/