@font-face {
    font-family: fuenteParrafo;
    src: url("../assets/fonts/paragraph/Comic_Neue/ComicNeue-Regular.ttf");
  }

  @font-face {
    font-family: fuenteTitulo;
    src: url("../assets/fonts/title/Fira_Sans/FiraSans-Light.ttf");
  }
  
  .classBody{
      overflow-x: hidden !important;
      overflow-y: hidden !important;
      width: 100%;
      height: 100%;
  }
  
  .classMainUniverso{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  
  
  
  
  /*===============================Inicio Section 1======================================*/
  
  .classSection1{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .classTituloUniverso{
    object-fit: scale-down;
    width: 40%;
    
  }
  
  
  .classTituloReloj{
    border: 1px solid orangered;
    width: 40%;
  }
  
  
  .classContainerCarrusel{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 9%;
    left: 1%;
  }
  
  .carruselPersonajes{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .iconPrev{
    color: rgb(0, 200, 250);
    font-size: 170%;
  }
  
  .btn1Prev{
    margin-left: -45%;
    justify-content: left;
  }
  
  .iconNext{
    color: rgb(0, 200, 250);
    font-size: 160%;
  }
  
  .btn1Next{
    justify-content: right;
    margin-right: -50%;
  }
  
  .iconPrev:hover{
    color: lightcoral;
  }
  
  .iconNext:hover{
    color: lightcoral;
  }
  
  
  /*===============================Fin Section 1======================================*/
  
  
  
  
  
  
  
  
  
  
  
  
  /*===============================Inicio Section 2======================================*/
  
  .classSection2{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

  }
  
  .classPInformacion1{
    width: 50%;
    color: #4a4a4a;
    text-align: justify;
    font-family: fuenteParrafo;
  }

  /* Agrega una clase para ocultar el contenido */
.hidden-content {
  opacity: 0;
  transform: scale(0.8); /* Empieza con un tamaño más pequeño */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transición suave */
}

/* Cuando la clase hidden-content se retira, el contenido se mostrará gradualmente */
.visible-content {
  opacity: 1;
  transform: scale(1); /* Tamaño original */
}

.fadeInAnimation {
  animation: fadeIn 1s ease;
  -webkit-animation: fadeIn 1s ease;
}
  
  .classContainer2{
    animation: fadeIn 1s ease;
    -webkit-animation: fadeIn 1s ease;
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(5, 43, 216);
}

  .classImgMarcoPersonaje{
    object-fit: scale-down;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
  }

  .informacionPersonaje{
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3%;
  }

  .classNombrePersonaje{
    width: 80%;
    font-family: fuenteTitulo;
    font-weight: 1000;
    font-size: 25px;
    text-align: left;
    margin: 0;
    animation: teclear 3s steps(16);
    -webkit-animation: teclear 3s steps(30);
}
  
  .classApodoPersonaje{
    width: 80%;
    font-family: fuenteParrafo;
    font-size: 20px;
    text-align: left;
    margin: 0;
    
}

  .classFechaPersonaje{
    width: 80%;
    font-family: fuenteParrafo;
    font-size: 15px;
    text-align: left;
    margin: 0;
    font-weight: bold;
    font-style: italic;
  }

  .classInspiracionPersona{
    width: 95%;
    font-family: fuenteParrafo;
    font-size: 13px;
    text-align: center;
    font-style: italic;
    margin: 0;
    margin-top: 2%;
    color: #355fdb;
    margin-top: 8%;
    margin-bottom: 3%;
    font-weight: 600;
  }


  .classLorePersonaje{
    width: 95%;
    font-family: fuenteParrafo;
    font-size: 13px;
    text-align: justify;
    font-weight: 600;
    margin: 0;
    margin-top: 2%;
    color: black;
    margin-bottom: 3%;
  }


  .classFooterPersonaje{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .classDatosPersonalesPersonaje{
    width: 100%;
    border-left: 1px solid black;
    padding-left: 2%;
    margin-left: 5%;
  }

  .classPInformacionPersonaje{
    margin: 0%;
    font-family: fuenteParrafo;
    font-size: 13px;
    text-align: justify;
    color: black;
  }

  .classNegritaFooter{
    font-weight: 1000 !important;
    color: black !important;
  }

  
  /*===============================Fin Section 2======================================*/









/*===============================Inicio Section 3======================================*/  

.classSection3{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.classImgTitleRegiones{
  object-fit: scale-down;
  width: 40%;
  text-align: center;
  font-size: 30px;
}


.classMaloka{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3%;
}

.classImgMaloka{
  object-fit: scale-down;
  width: 100%;
}

.classPRegionMaloka{
  font-family: fuenteParrafo;
  text-align: justify;
  color: black;
  width: 96%;
}

.classContainerRegiones{
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3%;
}

.classColum1Regiones{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.classColum2Regiones{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.classImgRegion{
  object-fit: scale-down;
  width: 100%;
}

.classPRegion{
  font-family: fuenteParrafo;
  text-align: justify;
  color: black;
  width: 90%;
  margin-left: 2%;
}


/*===============================Fin Section 3======================================*/  








/*===============================Inicio Section 0======================================*/  

.classSection0{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0;
}


.classBtnUniverso3{
  width: 28%;
  margin-top: 3.3%;
}

.classBtnUniverso3Juego{
  width: 30%;
}

/*===============================Fin Section 0======================================*/  






















  /*===============================Inicio animaciones efectos======================================*/

@keyframes teclear{
  from{
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes fadeIn{
  0% {
    opacity: 0;
    filter: blur();
    -webkit-filter: blur(30px);
}
}


  /*===============================Fin animaciones efectos======================================*/




  /*===============================Inicio Responsive======================================*/

  @media screen and (min-width:480px) and (max-width: 709px){
    .classSection1{
      width: 100%;
      margin-top: 20%;
    }
  }
  
  @media screen and (min-width:375px) and (max-width: 480px){
    .classObject{
        height: 250vh !important;
    }
  }
  
  @media screen and (max-width: 375px){
    .classObject{
        height: 250vh !important;
    }
  }

   /*===============================Fin Responsive======================================*/